<script setup>
import AppLayout from '@/Layouts/AppLayout.vue';

defineProps({
    parks: Array,
});
</script>

<template>
    <AppLayout title="Parks">
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 dark:text-gray-200 leading-tight">
                Parks
            </h2>
        </template>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-white dark:bg-gray-800 text-gray-800 dark:text-gray-200 overflow-hidden shadow-xl sm:rounded-lg p-4 sm:p-6 LG:P-8">

                    <div v-for="park in parks">
                        <h3 class="text-lg font-semibold mt-2">
                            {{ park.name }}
                        </h3>
                        <p v-if="park.city" class="font-bold">
                            {{ park.city }}
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </AppLayout>
</template>
